.vehicles-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.vehicles-container ul {
  list-style: none;
}

.vehicles-container h5 {
  text-align: center;
}

.edit-button {
  background: #000;
  color: #fff;
  padding: 3px;
  display: block;
}

.vehicle-info > ul > li {
  padding-bottom: 10px;
}

.vehicle-status > ul > li {
  padding-bottom: 10px;
}

.lock-status > ul > li {
  padding-bottom: 10px;
}
